{% assign cart_settings = section.settings['cart-settings'] %}

<div id="cart-slide-out" class="{{ cart_settings.cart_container_classes }}">

  {% comment %} Cart Header {% endcomment %}
  <div class="{{ cart_settings.cart_header_classes }}">
    <h2 class="{{ cart_settings.cart_title_classes }}">{{ cart_settings.cart_title }}</h2>
    <button id="close-cart-button" class="{{ cart_settings.close_cart_button_classes }}">
      {% render 'icon-social-facebook' class: svg_class %}
    </button>
  </div>
  
  <div class="{{ cart_settings.cart_content_classes }}">

    {% comment %} Added Product Block {% endcomment %}
    <div class="{{ cart_settings.cart_content_added_product_class }}"> 
      
      {% assign image_classes = cart_settings.cart_item_image_classes %}
      {% if cart_settings.cart_item_image != blank %}
          {{
          cart_settings.cart_item_image
          | image_url: width: 300
          | image_tag: 
              class: image_classes,
              alt: section.settings.cart_item_image.alt | default: 'Image for Cart item'

          }}
      {% endif %}

      <div class="{{ cart_settings.cart_content_added_product_class_main_info_button_div }}">
          <div class="{{ cart_settings.cart_content_added_product_class_main_info_button_label_price_div }}">
              <h4 class="{{ cart_settings.cart_content_product_name_classes }}"> 
                {{ cart_settings.cart_content_product_name }} Product Name
              </h4>

              <h4 class="{{ cart_settings.cart_content_product_quantity_classes }}"> 
                {{ cart_settings.cart_content_product_quantity }}
              </h4>

              <h4 class="{{ cart_settings.cart_content_product_price_classes }}"> 
                {{ cart_settings.cart_content_product_price }}
              </h4>
          </div>
          <div class="{{ cart_settings.cart_content_added_product_class_main_info_button_remove_button_div }}">
            <button class="{{ cart_settings.cart_item_remove_button }}">
                <a href="{{ cart_settings.cart_item_remove_button_link }}">
                            {{- cart_settings.cart_item_remove_button_label | escape -}}
                </a>
            </button>
          </div>
      </div>
    
    </div>

    {% comment %} Subtotal Block {% endcomment %}
    <div class="{{ cart_settings.cart_content_subtotal_div }}">
      <div class="{{ cart_settings.cart_content_subtotal_div_content }}">
        <h4 class="{{ cart_settings.cart_content_subtotal_div_content_label_classes }}"> 
          {{ cart_settings.cart_content_subtotal_div_content_label }}
        </h4>

        <h4 class="{{ cart_settings.cart_content_subtotal_div_content_total_price_classes }}"> 
          {{ cart_settings.cart_content_subtotal_div_content_total_price }}
        </h4>
      </div>  
    </div>

    {% comment %} Textarea Block {% endcomment %}
    <div class="{{ cart_settings.cart_content_textarea_div }}">
      <div class="{{ cart_settings.cart_content_textarea_div_content }}">
        <div class="{{ cart_settings.cart_content_textarea_div_content_message_classes }}"> 
          {{ cart_settings.cart_content_textarea_div_content_message }}
        </div>
      </div>  
    </div>

    {% comment %} Delivery Message Block {% endcomment %}
    <div class="{{ cart_settings.cart_content_delivery_message_div }}">
      <div class="{{ cart_settings.cart_content_delivery_message_div_content }}">
        <div class="{{ cart_settings.cart_content_delivery_message_classes }}"> 
          {{ cart_settings.cart_content_delivery_message }}
        </div>
      </div>  
    </div>

    {% comment %} Checkout Button Block {% endcomment %}
    <div class="{{ cart_settings.cart_content_checkout_button_div }}">
      Checkout Button
      <button class="{{ cart_settings.cart_content_checkout_button }}">
          <a href="{{ cart_settings.cart_content_checkout_button_link }}">
                      {{- cart_settings.cart_content_checkout_button_label | escape -}}
          </a>
      </button>
    </div>
  </div>
</div>

<script>

document.addEventListener('DOMContentLoaded', function() {
  var closeCartButton = document.getElementById('close-cart-button');

  function closeCart() {
    if (window.navbarFunctions && typeof window.navbarFunctions.closeAll === 'function') {
      window.navbarFunctions.closeAll();
    } else {
      console.error('closeAll function not found');
    }
    console.log('Close cart button clicked');
  }

  closeCartButton.addEventListener('click', closeCart);
});


</script>

