<div id="cart-slide-out" class="{{ section.settings.cart_container_classes }}">

  {% comment %} Cart Header {% endcomment %}
  <div class="{{ section.settings.cart_header_classes }}">
    <h2 class="{{ section.settings.cart_title_classes }}">{{ section.settings.cart_title }}</h2>
    <button id="close-cart-button" class="{{ section.settings.close_cart_button_classes }}">
      {% render 'icon-social-facebook' class: "w-10 h-10" %}
    </button>
  </div>
  
  <div class="{{ section.settings.cart_content_classes }}">

    {% comment %} Added Product Block {% endcomment %}
    <div class="{{ section.settings.cart_content_added_product_class }}"> 
      
      {% assign image_classes = section.settings.cart_item_image_classes %}
      {% if section.settings.cart_item_image != blank %}
          {{
          section.settings.cart_item_image
          | image_url: width: 300
          | image_tag: 
              class: image_classes,
              alt: section.settings.cart_item_image.alt | default: 'Image for Cart item'

          }}
      {% endif %}

      <div class="{{ section.settings.cart_content_added_product_class_main_info_button_div }}">
          <div class="{{ section.settings.cart_content_added_product_class_main_info_button_label_price_div }}">
              <h4 class="{{ section.settings.cart_content_product_name_classes }}"> 
                {{ section.settings.cart_content_product_name }} Product Name
              </h4>

              <h4 class="{{ section.settings.cart_content_product_quantity_classes }}"> 
                {{ section.settings.cart_content_product_quantity }}
              </h4>

              <h4 class="{{ section.settings.cart_content_product_price_classes }}"> 
                {{ section.settings.cart_content_product_price }}
              </h4>
          </div>
          <div class="{{ section.settings.cart_content_added_product_class_main_info_button_remove_button_div }}">
            <button class="{{ section.settings.cart_item_remove_button }}">
                <a href="{{ section.settings.cart_item_remove_button_link }}">
                            {{- section.settings.cart_item_remove_button_label | escape -}}
                </a>
            </button>
          </div>
      </div>
    
    </div>

    {% comment %} Subtotal Block {% endcomment %}
    <div class="{{ section.settings.cart_content_subtotal_div }}">
      <div class="{{ section.settings.cart_content_subtotal_div_content }}">
        <h4 class="{{ section.settings.cart_content_subtotal_div_content_label_classes }}"> 
          {{ section.settings.cart_content_subtotal_div_content_label }}
        </h4>

        <h4 class="{{ section.settings.cart_content_subtotal_div_content_total_price_classes }}"> 
          {{ section.settings.cart_content_subtotal_div_content_total_price }}
        </h4>
      </div>  
    </div>

    {% comment %} Textarea Block {% endcomment %}
    <div class="{{ section.settings.cart_content_textarea_div }}">
      <div class="{{ section.settings.cart_content_textarea_div_content }}">
        <div class="{{ section.settings.cart_content_textarea_div_content_message_classes }}"> 
          {{ section.settings.cart_content_textarea_div_content_message }}
        </div>
      </div>  
    </div>

    {% comment %} Delivery Message Block {% endcomment %}
    <div class="{{ section.settings.cart_content_delivery_message_div }}">
      <div class="{{ section.settings.cart_content_delivery_message_div_content }}">
        <div class="{{ section.settings.cart_content_delivery_message_classes }}"> 
          {{ section.settings.cart_content_delivery_message }}
        </div>
      </div>  
    </div>

    {% comment %} Checkout Button Block {% endcomment %}
    <div class="{{ section.settings.cart_content_checkout_button_div }}">
      Checkout Button
      <button class="{{ section.settings.cart_content_checkout_button }}">
          <a href="{{ section.settings.cart_content_checkout_button_link }}">
                      {{- section.settings.cart_content_checkout_button_label | escape -}}
          </a>
      </button>
    </div>
  </div>
</div>

<script>

document.addEventListener('DOMContentLoaded', function() {
  var closeCartButton = document.getElementById('close-cart-button');

  function closeCart() {
    if (window.navbarFunctions && typeof window.navbarFunctions.closeAll === 'function') {
      window.navbarFunctions.closeAll();
    } else {
      console.error('closeAll function not found');
    }
    console.log('Close cart button clicked');
  }

  closeCartButton.addEventListener('click', closeCart);
});


</script>

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
        "type": "inline_richtext",
        "id": "cart_title",
        "label": "Cart Title",
        "default": "Your Cart"
    },
    {
        "type": "image_picker",
        "id": "cart_item_image",
        "label": "Cart Product Image"
    },
    {
        "type": "inline_richtext",
        "id": "cart_content_product_name",
        "label": "Cart Product Name",
        "default": "Rosy Delight"
    },
    {
        "type": "text",
        "id": "cart_content_product_quantity",
        "label": "Cart Product Quantity",
        "default": "Quantity (1)"
    },
    {
        "type": "text",
        "id": "cart_content_product_price",
        "label": "Cart Product Price",
        "default": "$100"
    },
    {
        "type": "text",
        "id": "cart_item_remove_button_label",
        "label": "Remove Button Label",
        "default": "Remove"
    },
    {
        "type": "url",
        "id": "cart_item_remove_button_link",
        "label": "Button Link"
    },
    {
        "type": "inline_richtext",
        "id": "cart_content_subtotal_div_content_label",
        "label": "Subtotal Label",
        "default": "Subtotal"
    },
    {
        "type": "text",
        "id": "cart_content_subtotal_div_content_total_price",
        "label": "Subtotal Price",
        "default": "$100.00"
    },
    {
        "type": "richtext",
        "id": "cart_content_textarea_div_content_message",
        "label": "Gift Message",
        "default": "<p> Gift Message </p>"
    },
    {
        "type": "richtext",
        "id": "cart_content_delivery_message",
        "label": "Delivery Message",
        "default": "<p> Shipping & taxes calculated at checkout Free standard shipping within Kyiv </p>"
    },
    {
        "type": "text",
        "id": "cart_content_checkout_button_label",
        "label": "Checkout Button Label",
        "default": "Check out"
    },
    {
        "type": "url",
        "id": "cart_content_checkout_button_link",
        "label": "Checkout Button Link"
    },
    {
        "type": "header",
        "content": "Tailwind Classes"
    },
    {
        "type": "textarea",
        "id": "cart_container_classes",
        "label": "Cart Container Classes",
        "default": "fixed inset-y-0 right-0 w-full md:w-96 bg-white shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out z-50"
    },
    {
        "type": "textarea",
        "id": "cart_header_classes",
        "label": "Cart Header Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_title_classes",
        "label": "Cart Title Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "close_cart_button_classes",
        "label": "Close Cart Button Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_classes",
        "label": "Cart Content Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_added_product_class",
        "label": "Cart Content Added Product Class",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_item_image_classes",
        "label": "Cart Item Image Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_added_product_class_main_info_button_div",
        "label": "Added Product Class Main Info Button Div",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_added_product_class_main_info_button_label_price_div",
        "label": "Added Product Class Main Info Button Label Price Div",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_product_name_classes",
        "label": "Product Name Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_product_quantity_classes",
        "label": "Product Quantity Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_product_price_classes",
        "label": "Product Price Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_added_product_class_main_info_button_remove_button_div",
        "label": "Added Product Class Main Info Button Remove Button Div",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_item_remove_button",
        "label": "Cart Item Remove Button Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_subtotal_div",
        "label": "Cart Content Subtotal Div",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_subtotal_div_content",
        "label": "Cart Content Subtotal Div Content",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_subtotal_div_content_label_classes",
        "label": "Cart Content Subtotal Div Content Label Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_subtotal_div_content_total_price_classes",
        "label": "Cart Content Subtotal Div Content Total Price Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_textarea_div",
        "label": "Cart Content Textarea Div",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_textarea_div_content",
        "label": "Cart Content Textarea Div Content",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_textarea_div_content_message_classes",
        "label": "Textarea Div Content Message Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_delivery_message_div",
        "label": "Cart Content Delivery Message Div",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_delivery_message_div_content",
        "label": "Cart Content Delivery Message Div Content",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_delivery_message_classes",
        "label": "Cart Content Delivery Message Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_checkout_button_div",
        "label": "Cart Content Checkout Button Div",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "cart_content_checkout_button",
        "label": "Cart Content Checkout Button Classes",
        "default": "text-black"
    },
    {
        "type": "textarea",
        "id": "checkout_button_classes",
        "label": "Checkout Button Classes",
        "default": "w-full bg-black text-white py-2 px-4 rounded hover:bg-gray-800 transition-colors duration-200"
    }
  ],
  "presets": [
    {
      "name": "Cart Settings"
    }   
  ]
}
{% endschema %}