<section id="{{ 'home-' | append: section.id }}">
  <div class="px-5 2xl:px-20">
    <h2 class="text-4xl font-semibold text-gray-900 mt-4 mb-4 text-center">{{ section.settings.stats_heading }}</h2>
    <div class="grid py-5 gap-5 {{ section.settings.per_row_sm }} {{ section.settings.per_row_md }} {{ section.settings.per_row_lg }}">
      {% for block in section.blocks %}
        <div class="card-wrapper {{ section.settings.card_wrapper_styles }} text-center place-self-center">
          <div class="card {{ section.settings.card_styles }} max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 2xl:mt-5 2xl:mx-24">
            <div class="card__content {{ section.settings.card_content_styles }} flex flex-col items-center justify-center px-4 py-3 md:p-5">
              <span class="card__button-icon {{ section.settings.card_button_icon_styles }}">
                {% if block.settings.icon_select == 'icon-rocket' %}
                  {% render 'icon-rocket' %}
                {% elsif block.settings.icon_select == 'icon-calendar' %}
                  {% render 'icon-calendar' %}
                {% elsif block.settings.icon_select == 'icon-sales' %}
                  {% render 'icon-sales' %}
                {% elsif block.settings.icon_select == 'icon-users-group' %}
                  {% render 'icon-users-group' %}
                {% endif %}
              </span>
              <h5 class="card__details {{ section.settings.card_details_styles }} mb-2 text-lg md:text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                {{ block.settings.stats_details }}
              </h5>
              <p class="card__subdetails {{ section.settings.card_subdetails_styles }} text-sm md:text-base mb-3 font-normal text-gray-700 dark:text-gray-400">
                {{ block.settings.stats_subdetails }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Stats Bar Section",
  "settings": [
    {
      "type": "text",
      "id": "stats_heading",
      "label": "Stats Bar Heading",
      "default": "Statistics Bar"
    },
    {
      "type": "select",
      "id": "per_row_sm",
      "label": "Products per row (mobile)",
      "default": "grid-cols-2",
      "options": [
        {
          "label": "1",
          "value": "grid-cols-1"
        },
        {
          "label": "2",
          "value": "grid-cols-2"
        },
        {
          "label": "3",
          "value": "grid-cols-3"
        }
      ]
    },
    {
      "type": "select",
      "id": "per_row_md",
      "label": "Products per row (tablet)",
      "default": "md:grid-cols-3",
      "options": [
        {
          "label": "1",
          "value": "md:grid-cols-1"
        },
        {
          "label": "2",
          "value": "md:grid-cols-2"
        },
        {
          "label": "3",
          "value": "md:grid-cols-3"
        },
        {
          "label": "4",
          "value": "md:grid-cols-4"
        },
        {
          "label": "5",
          "value": "md:grid-cols-5"
        }
      ]
    },
    {
      "type": "select",
      "id": "per_row_lg",
      "label": "Products per row (desktop)",
      "default": "lg:grid-cols-4",
      "options": [
        {
          "label": "1",
          "value": "lg:grid-cols-1"
        },
        {
          "label": "2",
          "value": "lg:grid-cols-2"
        },
        {
          "label": "3",
          "value": "lg:grid-cols-3"
        },
        {
          "label": "4",
          "value": "lg:grid-cols-4"
        },
        {
          "label": "5",
          "value": "lg:grid-cols-5"
        },
        {
          "label": "6",
          "value": "lg:grid-cols-6"
        },
        {
          "label": "7",
          "value": "lg:grid-cols-7"
        },
        {
          "label": "8",
          "value": "lg:grid-cols-8"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "card_block",
      "name": "Stats Tile",
      "settings": [
        {
          "type": "text",
          "label": "Stats Details",
          "id": "stats_details",
          "default": "10000+"
        },
        {
          "type": "text",
          "label": "Stats Sub Details",
          "id": "stats_subdetails",
          "default": "Statistics Information!!"
        },
        {
          "type": "select",
          "id": "icon_select",
          "label": "Select Icon",
          "default": "icon-rocket",
          "options": [
            {
              "label": "Rocket",
              "value": "icon-rocket"
            },
            {
              "label": "Calendar",
              "value": "icon-calendar"
            },
            {
              "label": "Sales",
              "value": "icon-sales"
            },
            {
              "label": "Users Group",
              "value": "icon-users-group"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Statistics Bars",
      "category": "Statistics Bar",
      "blocks": [
        {
          "type": "card_block"
        }
      ]
    }
  ]
}
{% endschema %}
