{% comment %}
  <div class="product {{ section.settings.tw-product }}">
    <div class="product__left-col {{ section.settings.tw-product__left-col }}">
      {% if product.featured_image != blank %}
        {{
          product.featured_image
          | image_url: width: 1800, height: 1800, crop: 'center'
          | image_tag: class: section.settings['tw-collection__product-featured-image']
        }}
      {% endif %}
    </div>
    <div class="product__right-col {{ section.settings.tw-product__right-col }}">
      <div class="product__details {{ section.settings.tw-product__details }}">
        <p class="product__text {{ section.settings.tw-product__text }}">
          {{ product.collections[0].title -}}
          <span class="">&nbsp;/ Quick Order</span>
        </p>
        <div class="product__main-info {{ section.settings.tw-product__main-info }}">
          <h2 class="product__title {{ section.settings.tw-product__title }}">
            {{ product.title }} - {{ product.price | money }}
          </h2>
          <p class="product__description {{ section.settings.tw-product__description }}">{{ product.description }}</p>
        </div>
        <div class="product__quantity {{ section.settings.tw-product__quantity }}">
          <p class="product__quantity-heading {{ section.settings.product__quantity-heading }}">
            {{ section.settings['product__quantity-heading-text'] }}
          </p>
          <div class="product__quantity-input-steppers {{ section.settings.product__quantity-input-steppers }}">
            <quantity-steppers
              decrement-btn="{{ section.settings.decrement_button_btn }}"
              increment-btn="{{ section.settings.increment_button_btn }}"
              input-box="{{ section.settings.input_box }}"
            >
            </quantity-steppers>
          </div>
        </div>
        <div class="product__combination {{ section.settings.tw-product__combination }}">
          <div class="product__combination-heading {{ section.settings.tw-product__combination-heading }}">
            <p class="product__combination-extra-info {{ section.settings.tw-product__combination-extra-info }}">
              {{ section.settings['product__combination-extra-info-text'] }}
            </p>
            <h3
              class="product__combination-extra-info-heading {{ section.settings.tw-product__combination-extra-info-heading-text }}"
            >
              {{ section.settings['product__combination-extra-info-heading-text'] }}
            </h3>
          </div>
          <product-slider class="relative w-full">
            {% assign combination_products = product.metafields.custom.combination_products.value %}
            {% if combination_products %}
              <div class="overflow-hidden">
                <div class="flex transition-transform duration-300 ease-in-out" id="slider-container">
                  {% for product in combination_products %}
                    <div class="slider__item flex-shrink-0 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2">
                      <div class="aspect-w-1 aspect-h-1 mb-2">
                        {{
                          product.featured_image
                          | image_url: width: '400', height: '400', crop: 'center'
                          | image_tag:
                            class: section.settings['tw-product__combination-featured-image'],
                            concat: ' w-full h-full object-cover',
                            alt: product.title
                        }}
                      </div>
                      <h4 class="product__combination-title text-lg font-semibold truncate">{{ product.title }}</h4>
                      <p class="product__combination-price text-base text-gray-600">{{ product.price | money }}</p>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <button
                id="prev-btn"
                class="prev-btn w-8 h-8 flex items-center justify-center bg-white rounded-full shadow-md absolute top-1/2 left-2 transform -translate-y-1/2 z-10"
              >
                {% render 'icon-right-arrow' %}
              </button>
              <button
                id="next-btn"
                class="next-btn w-8 h-8 flex items-center justify-center bg-white rounded-full shadow-md absolute top-1/2 right-2 transform -translate-y-1/2 z-10"
              >
                {% render 'icon-right-arrow' %}
              </button>
            {% endif %}
          </product-slider>
        </div>
        <div class="product__price-options {{ section.settings.tw-product__price-options }}">
          <h3 class="product__price-options-heading {{ section.settings.tw-product__price-options-heading }}">
            {{ section.settings['product__price-options-heading'] }}
          </h3>
          <div class="product__price-options-radio-buttons {{ section.settings.tw-product__price-options-radio-buttons }}">
            <input
              type="radio"
              id="option1"
              name="price-option"
              value="option1"
              class="{{ section.settings.tw-options-input }}"
            >
            <label for="option1" class="{{ section.settings.tw-options-label }}">One time purchase. Price $100</label>
          </div>
          <div
            class="product__price-options-radio-buttons {{ section.settings.tw-product__price-options-radio-buttons }}"
          >
            <input
              type="radio"
              id="option2"
              name="price-option"
              value="option2"
              class="{{ section.settings.tw-options-input }}"
            >
            <label for="option2" class="{{ section.settings.tw-options-label }}">Subscribe now, and save 25% </label>
          </div>
        </div>
      </div>
      <div class="product__add-to-cart-btn {{ section.settings.tw-product__add-to-cart-btn }}">
        <a id="addToCartBtn" href="{{ routes.cart_add_url }}">Add to Cart</a>
      </div>
    </div>
  </div>
{% endcomment %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  .price-option input:checked + div div {
    display: block;
  }
  n input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
</style>

<div class="container flex flex-col w-full lg:flex-row max-w-none">
  <div class="image-container w-full lg:w-1/2 border border-brand-black">
    <img
      src="https://images.unsplash.com/photo-1515865404355-ddb5b0910878?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Rosy Delight Bouquet"
      width="1200"
      height="1200"
      class="product-image aspect-[0.893] md:aspect-[1.146] lg:aspect-[0.956] w-full h-full object-cover"
    >
  </div>
  <div class="product-info px-4 py-10 flex flex-col gap-10 w-full lg:w-1/2 md:p-10 border border-brand-black">
    <div class="product-details-section flex flex-col gap-6 w-full">
      <p class="section-title font-medium uppercase text-[.98vw] leading-[1.2] tracking-[.04vw]">
        Fresh Flowers / Quick Order
      </p>

      <div class="product-details flex flex-col gap-4">
        <h1 class="product-title font-medium text-[2.7vw] leading-[1.2] my-[1em]">Rosy Delight - $100</h1>
        <p class="description brightness-90 text-[1.12vw] leading-[1.3] tracking-[.03vw] my-[1em]">
          Large exceptional bouquet composed of a selection of David Austin roses, known for their beauty and subtle
          fragrance. The bouquet is accompanied by seasonal foliage which will enhance these sublime flowers even
        </p>
      </div>

      <div class="quantity flex flex-col gap-4 md:flex-row md:items-center">
        <label class="quantity-label text-mobile-subtitle font-medium md:text-desktop-subtitle">Quantity</label>
        <div class="quantity-control flex justify-between items-center md:justify-start">
          <button
            class="quantity-button minus border border-black h-11 w-11 text-4xl font-thin flex justify-center items-center"
          >
            <div class="">-</div>
          </button>
          <input
            class="quantity-input text-center border-y border-black h-11 md:!w-12 flex-grow md:grow-0"
            type="number"
            value="1"
          >
          <button
            class="quantity-button plus border border-black h-11 w-11 text-4xl font-thin flex justify-center items-center"
          >
            <div class="">+</div>
          </button>
        </div>
      </div>

      <div class="swiper mySwiper vase-options-container relative w-full h-auto max-w-full overflow-hidden">
        <div class="vase-info flex flex-col gap-2 mb-4 md:justify-between md:flex-row-reverse md:items-center">
          <p class="vase-not-included text-mobile-caption opacity-50 md:text-desktop-body">Vase Not Included</p>
          <h3 class="combination-title text-mobile-subtitle font-medium md:text-desktop-subtitle">
            Excellent Combination with:
          </h3>
        </div>
        <div class="custom-prev-button arrow-button left absolute top-1/2 left-0 w-8 h-8 z-10 flex justify-center select-none">
          &leftarrow;
        </div>
        <div class="swiper-wrapper vase-options" navigation="true">
          <!-- vase-1 -->
          <div class="swiper-slide vase-option w-full">
            <img
              src="https://plus.unsplash.com/premium_photo-1677178629331-140f46fad545?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Glass Vase"
              width="1200"
              height="1200"
              class="vase-image aspect-[1.284] object-cover w-full"
            >
            <p class="vase-name mt-2 text-mobile-caption md:text-desktop-caption">Glass Vase</p>
            <p class="vase-price text-mobile-caption text-brand-gray md:text-desktop-caption">$15</p>
          </div>
          <!-- vase-2 -->
          <div class="swiper-slide vase-option w-full">
            <img
              src="https://plus.unsplash.com/premium_photo-1677178629331-140f46fad545?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Glass Vase"
              width="1200"
              height="1200"
              class="vase-image aspect-[1.284] object-cover w-full"
            >
            <p class="vase-name mt-2 text-mobile-caption md:text-desktop-caption">Glass Vase</p>
            <p class="vase-price text-mobile-caption text-brand-gray md:text-desktop-caption">$25</p>
          </div>
          <!-- vase-3 -->
          <div class="swiper-slide vase-option w-full">
            <img
              src="https://plus.unsplash.com/premium_photo-1677178629331-140f46fad545?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Glass Vase"
              width="1200"
              height="1200"
              class="vase-image aspect-[1.284] object-cover w-full"
            >
            <p class="vase-name mt-2 text-mobile-caption md:text-desktop-caption">Glass Vase</p>
            <p class="vase-price text-mobile-caption text-brand-gray md:text-desktop-caption">$35</p>
          </div>
          <!-- vase-4 -->
          <div class="swiper-slide vase-option w-full">
            <img
              src="https://plus.unsplash.com/premium_photo-1677178629331-140f46fad545?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Glass Vase"
              width="1200"
              height="1200"
              class="vase-image aspect-[1.284] object-cover w-full"
            >
            <p class="vase-name mt-2 text-mobile-caption md:text-desktop-caption">Glass Vase</p>
            <p class="vase-price text-mobile-caption text-brand-gray md:text-desktop-caption">$45</p>
          </div>
          <!-- vase-5 -->
          <div class="swiper-slide vase-option w-full">
            <img
              src="https://plus.unsplash.com/premium_photo-1677178629331-140f46fad545?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Glass Vase"
              width="1200"
              height="1200"
              class="vase-image aspect-[1.284] object-cover w-full"
            >
            <p class="vase-name mt-2 text-mobile-caption md:text-desktop-caption">Glass Vase</p>
            <p class="vase-price text-mobile-caption text-brand-gray md:text-desktop-caption">$45</p>
          </div>
          <!-- vase-6 -->
          <div class="swiper-slide vase-option w-full">
            <img
              src="https://plus.unsplash.com/premium_photo-1677178629331-140f46fad545?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="Glass Vase"
              width="1200"
              height="1200"
              class="vase-image aspect-[1.284] object-cover w-full"
            >
            <p class="vase-name mt-2 text-mobile-caption md:text-desktop-caption">Glass Vase</p>
            <p class="vase-price text-mobile-caption text-brand-gray md:text-desktop-caption">$45</p>
          </div>
        </div>
        <div class="custom-next-button arrow-button right absolute top-1/2 right-0 w-8 h-8 z-10 flex justify-center select-none">
          &rightarrow;
        </div>
      </div>

      <div class="price-options flex flex-col gap-4">
        <h3 class="price-option-title text-mobile-subtitle font-medium md:text-desktop-subtitle">Price options</h3>
        <label class="price-option text-mobile-body flex items-center gap-3 cursor-pointer md:text-desktop-body">
          <div class="relative">
            <input class="price-input absolute opacity-0 w-6 h-6" type="radio" name="price-option" checked>
            <div
              class="w-6 h-6 border-2 border-brand-black rounded-full flex items-center justify-center bg-brand-light-gray"
            >
              <div class="w-3 h-3 bg-black rounded-full hidden"></div>
            </div>
          </div>
          One time purchase. Price $100
        </label>
        <label class="price-option text-mobile-body flex items-center gap-3 cursor-pointer md:text-desktop-body">
          <div class="relative">
            <input class="price-input absolute opacity-0 w-6 h-6" type="radio" name="price-option">
            <div
              class="w-6 h-6 border-2 border-brand-black rounded-full flex items-center justify-center bg-brand-light-gray"
            >
              <div class="w-3 h-3 bg-black rounded-full hidden"></div>
            </div>
          </div>
          Subscribe now, and save 25% on this order.
        </label>
      </div>
    </div>
    <button class="add-to-basket w-full text-brand-white bg-black px-6 py-4 text-mobile-button font-medium">
      ADD TO BASKET
    </button>
  </div>
</div>

<!-- Initialize Swiper -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.mySwiper', {
      slidesPerView: 'auto',
      spaceBetween: 16,
      navigation: {
        nextEl: '.custom-next-button',
        prevEl: '.custom-prev-button',
      },
      breakpoints: {
        320: {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        480: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Main Product",
  "presets": [
    {
      "name": "Main Product"
    }
  ]
}
{% endschema %}
