<div class="orders-container__classes max-w-6xl mx-auto px-4 py-12">
  <div class="orders-details__classes flex items-start md:items-end justify-between my-5">
    <div class="orders-title__classes w-1/2">
      <h1 class="orders-name__classes text-2xl font-bold text-gray-700">Order {{ order.name }}</h1>
      <p class="orders-date__classes text-gray-500 my-2">Placed on {{ order.created_at | date: format: 'date' }}</p>
      <span class="orders-status__classes text-sm text-white bg-gray-700 rounded-full my-2 px-4 py-1">
        {{- order.financial_status_label -}}
      </span>
    </div>
    <a
      href="{{ routes.account_url }}"
      class="back-to-accounts__classes text-blue-700 hover:text-blue-900 underline font-medium"
      >Back to account</a
    >
  </div>

  <div class="orders-item-container__classes ">
    {% for line_item in order.line_items %}
      <div class="orders-item__classes w-full border border-gray-200 divide-y rounded-sm mb-4">
        <div class="item-details__classes grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-12 p-4 md:p-12">
          <div class="item-image-container__classes w-full h-80 min-h-80 bg-gray-200 rounded-md overflow-hidden border">
            {% if line_item.image %}
              <div classs="item-image__classes {{ section.settings.item-image__classes }} w-full h-full object-center object-cover">
                {{ line_item.image | image_url: width: 300, height: 400 | image_tag }}
              </div>
            {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'item-image__classes w-full h-full object-center object-cover' }}
            {% endif %}
          </div>

          <div>
            <h1 class="item-title__classes text-xl font-medium mb-4">
              {{ line_item.title | link_to: line_item.product.url }}
            </h1>

            <table class="item-details-table__classes table-auto w-full mb-4">
              <tbody>
                <tr>
                  <td class="item-price-original-title__classes border border-gray-200 px-4 py-2">Price</td>
                  <td class="item-price-original__classes border border-gray-200 px-4 py-2">
                    {{ line_item.original_price | money }}
                  </td>
                </tr>
                <tr>
                  <td class="item-quantity-title__classes border border-gray-200 px-4 py-2">Quantity</td>
                  <td class="item-quantity__classes border border-gray-200 px-4 py-2">{{ line_item.quantity }}</td>
                </tr>
                <tr>
                  <td class="item-final-price-title__classes border border-gray-200 px-4 py-2">Final price</td>
                  <td class="item-final-price__classes border border-gray-200 px-4 py-2">
                    {{ line_item.final_line_price | money }}
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="item-description__classes text-gray-500 mb-4">
              {{ line_item.product.description | truncatewords: 15 }}
            </div>
          </div>

          <div class="item-delivery-address-container__classes ">
            <h1 class="item-delivery-address-title__classes font-medium mb-4">Delivery address</h1>
            <p>Address 1: {{ order.shipping_address.address1 }}</p>
            <p>Address 2: {{ order.shipping_address.address2 }}</p>
            <p>Street: {{ order.shipping_address.street }}</p>
            <p>Province: {{ order.shipping_address.province }}</p>
            <p>City: {{ order.shipping_address.city }}</p>
            <p>ZIP: {{ order.shipping_address.zip }}</p>
            <p>Country: {{ order.shipping_address.country }}</p>
          </div>
        </div>

        <div class="item-fulfillment__classes p-4 md:p-12">
          <h1 class="item-fulfillment-title__classes text-lg font-medium mb-4">Fulfillment</h1>

          {% if line_item.successfully_fulfilled_quantity > 0 %}
            <p class="item-fulfillment-quantity__classes mb-2">
              We have fulfilled {{ line_item.successfully_fulfilled_quantity }} items of your recent order.
            </p>
            <p class="item-tracking-company__classes mb-2">
              Tracking company: {{ line_item.fulfillment.tracking_company }}
            </p>
            <p class="item-tracking-number__classes mb-2">
              Tracking number: {{ line_item.fulfillment.tracking_number }}
            </p>

            <a
              target="_blank"
              href="{{ line_item.fulfillment.tracking_url }}"
              class="item-tracking-url__classes flex w-max text-sm text-white font-medium bg-gray-700 hover:underline hover:bg-gray-900 px-4 py-1 rounded"
            >
              Track order
            </a>
          {% else %}
            <p class="item-not-fulfilled__classes text-gray-500">This item is not yet fulfilled</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="orders-billing-address-conatiner__classes w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-12 border border-gray-200 rounded-sm p-4 md:p-12 my-6 bg-gray-50">
    <div class="orders-billing-address__classes ">
      <h1 class="orders-billing-address-title__classes font-medium mb-4">Billing address</h1>
      {{ order.billing_address | format_address }}
    </div>
    <div class="orders-payment__classes ">
      <h1 class="orders-payment-title__classes font-medium mb-4">Payment information</h1>

      {% for transaction in order.transactions %}
        <div class="orders-transaction__classes mb-4">
          {% assign credit_card_company = transaction.payment_details.credit_card_company %}
          {% assign credit_card_last_four_digits = transaction.payment_details.credit_card_number %}

          {% if credit_card_company %}
            <p>{{ credit_card_company }}</p>
            <p>{{ credit_card_last_four_digits }}</p>

            {% case transaction.status_label %}
              {% when 'Failure' %}
                {% assign background = 'red' %}
              {% else %}
                {% assign background = 'green' %}
            {% endcase %}

            <span class="orders-transaction-status__classes bg-{{ background }}-700 rounded-full text-sm px-4 py-1 text-white">
              {{- transaction.status_label -}}
            </span>
          {% else %}
            <p class="orders-manually-placed__classes text-sm mb-4">This order is manually placed on {{ shop.name }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="orders-total-details__classes ">
      <table class="orders-total-table__classes table-auto w-full mb-4">
        <tbody>
          <tr>
            <td class="table-subtotal-title__classes border border-gray-200 px-4 py-2">Subtotal</td>
            <td class="table-subtotal__classes border border-gray-200 px-4 py-2">{{ order.subtotal_price | money }}</td>
          </tr>
          <tr>
            <td class="table-taxes-title__classes border border-gray-200 px-4 py-2">Taxes</td>
            <td class="table-taxes__classes border border-gray-200 px-4 py-2">{{ order.tax_price | money }}</td>
          </tr>
          <tr>
            <td class="table-shipping-title__classes border border-gray-200 px-4 py-2">Shipping</td>
            <td class="table-shipping__classes border border-gray-200 px-4 py-2">{{ order.shipping_price | money }}</td>
          </tr>
          <tr>
            <td class="table-total-title__classes border border-gray-200 px-4 py-2">Total</td>
            <td class="table-total__classes border border-gray-200 px-4 py-2">{{ order.total_price | money }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Order",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "account-view-address__classes",
      "label": " Classes",
      "default": "text-sm text-blue-600 hover:text-blue-900 underline"
    }
  ]
}
{% endschema %}
