<div class="product">
  <div class="product__left-col">
    {{
      product.featured_image
      | image_url: width: 1200, height: 1200, crop: 'center'
      | image_tag: class: section.settings['tw-collection__product-featured-image']
    }}
  </div>
  <div class="product__right-col">
    <div class="product__details">
      <p class="product__text">
        {{ product.collections[0] -}}
        <span>/ QUICK ORDER</span>
      </p>
      <div class="product__main-info">
        <h2 class="product__title">{{ product.title }}</h2>
        <p class="product__description">{{ product.description }}</p>
      </div>
      <div class="product__quantity">
        <p class="product__quantity-heading">{{ section.settings['product__quantity-heading'] }}</p>
        <div class="product__quantity-input-steppers"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main Product",
  "settings": [
    {
      "type": "textarea",
      "id": "tw-collection__product-featured-image",
      "label": "Style tw-collection__product-featured-image"
    }
  ],
  "presets": [
    {
      "name": "Main Product"
    }
  ]
}
{% endschema %}
