<div class="navbar-wrapper {{ section.settings.navbar_wrapper }}">
  <nav class="navbar {{ section.settings.navbar_classes }}">
    <div class="navbar__container {{ section.settings.container_classes }}">
        <!-- Mobile menu button -->
        <div class="mobile_menu_button_container_classes {{ section.settings.mobile_menu_button_container_classes }}">
            <div class="mobile_menu_button_classes {{ section.settings.mobile_menu_button_classes }}">
                <button id="mobile-menu-button" class="{{ section.settings.mobile_menu_svg_classes }}">
                    <span id="hamburger-icon">{% render 'icon-hamburger' %}</span>
                    <span id="close-icon" class="hidden">{% render 'icon-close' %}</span>
                </button>
            </div>

            <div class="mobile_menu_button_classes {{ section.settings.mobile_menu_button_classes }}">
                <button id="cart-button" class="{{ section.settings.mobile_menu_svg_classes }}">
                    {% render 'icon-cart' %}
                </button>
            </div>
        </div>

        <!-- Desktop menu -->
        <div class="navbar__menu_desktop {{ section.settings.navbar__menu_desktop }}">
        <div class="navbar__menu-left {{ section.settings.navbar__menu_left }}">
            {% for link in linklists[section.settings.menu].links %}
            <a href="{{ link.url }}" class="navbar__menu-item {{ section.settings.left_menu_item_classes }}">
                {{ link.title }}
            </a>
            {% endfor %}
        </div>
        <div class="navbar__menu-right {{ section.settings.navbar__menu_right }}">
            {% for link in linklists[section.settings.right_menu].links %}
            <a href="{{ link.url }}" class="navbar__menu-item {{ section.settings.right_menu_item_classes }}">
                {{ link.title }}
            </a>
            {% endfor %}
        </div>
      </div>
    </div>
  </nav>

  <!-- Mobile menu (hidden by default) -->
  <div id="mobile-menu" class="mobile_menu_container_classes {{ section.settings.mobile_menu_container_classes }}">
      <div class="mobile_menu_content {{ section.settings.mobile_menu_content_classes }}">
        {% for link in linklists[section.settings.menu].links %}
        <a href="{{ link.url }}" class="{{ section.settings.mobile_menu_item_classes }}">
            {{ link.title }}
        </a>
        {% endfor %}
        {% for link in linklists[section.settings.right_menu].links %}
        <a href="{{ link.url }}" class="{{ section.settings.mobile_menu_item_classes }}">
            {{ link.title }}
        </a>
        {% endfor %}
      </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var mobileMenuButton = document.getElementById('mobile-menu-button');
    var mobileMenu = document.getElementById('mobile-menu');
    var hamburgerIcon = document.getElementById('hamburger-icon');
    var closeIcon = document.getElementById('close-icon');
    var navbarWrapper = document.querySelector('.navbar-wrapper');
    var navbarClasses = document.querySelector('.navbar');

    if (mobileMenuButton && mobileMenu) {
      var toggleMenu = function() {
        mobileMenu.classList.toggle('-translate-x-full');
        mobileMenu.classList.toggle('opacity-0');
        hamburgerIcon.classList.toggle('hidden');
        closeIcon.classList.toggle('hidden');
        navbarWrapper.classList.toggle('mobile-menu-open');
        navbarClasses.classList.toggle('fixed');
      };

      if (Shopify.designMode) {
        document.addEventListener('shopify:section:load', function(event) {
          if (event.target.contains(mobileMenuButton)) {
            mobileMenuButton.addEventListener('click', toggleMenu);
          }
        });
      }

      mobileMenuButton.addEventListener('click', toggleMenu);

      // Close menu when clicking outside
      document.addEventListener('click', function(event) {
        if (!mobileMenu.contains(event.target) && !mobileMenuButton.contains(event.target) && !mobileMenu.classList.contains('-translate-x-full')) {
          toggleMenu();
        }
      });
    }
  });
</script>

{% schema %}
{
  "name": "Navbar",
  "settings": [
    {
      "type": "header",
      "content": "Menu Selection"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Left Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "right_menu",
      "label": "Right Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Tailwind Classes"
    },
    {
      "type": "textarea",
      "id": "navbar_wrapper",
      "label": "Navbar Wrapper",
      "default": "relative"
    },
    {
      "type": "textarea",
      "id": "navbar_classes",
      "label": "Navbar classes",
      "default": "h-[48px] md:h-[56px] lg:[83px] w-full z-10 bg-white"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes",
      "default": "border-y-[1px] lg:border-x-[1px] border-brand-black flex justify-between h-full"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_desktop",
      "label": "Navbar Desktop Menu",
      "default": "hidden lg:flex w-full justify-between"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_left",
      "label": "Left menu classes",
      "default": "hidden lg:flex h-full w-1/2 justify-start pl-[1px]"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_right",
      "label": "Right menu classes",
      "default": "hidden lg:flex h-full w-1/2 justify-end pr-[1px]"
    },
    {
      "type": "textarea",
      "id": "left_menu_item_classes",
      "label": "Left menu item classes",
      "default": "text-gray-600 hover:text-gray-900 border-brand-black border-r-[1px] flex items-center justify-center w-1/4"
    },
    {
      "type": "textarea",
      "id": "right_menu_item_classes",
      "label": "Right menu item classes",
      "default": "text-gray-600 hover:text-gray-900 border-brand-black border-l-[1px] flex items-center justify-center w-1/4"
    },
    {
      "type": "header",
      "content": "Mobile Tailwind Classes"
    },
    {
      "type": "textarea",
      "id": "mobile_menu_button_container_classes",
      "label": "Mobile menu button container classes",
      "default": "flex w-full justify-between lg:hidden"
    },
    {
      "type": "textarea",
      "id": "mobile_menu_button_classes",
      "label": "Mobile menu button classes",
      "default": "border-x-[1px] border-brand-black aspect-square flex items-center justify-center lg:hidden"
    },
    {
      "type": "textarea",
      "id": "mobile_menu_svg_classes",
      "label": "Mobile menu SVG classes",
      "default": "w-5 h-5 "
    },
    {
      "type": "textarea",
      "id": "mobile_menu_container_classes",
      "label": "Mobile menu container classes",
      "default": "fixed inset-y-0 left-0 w-full bg-white z-40 transition-all duration-300 ease-in-out transform -translate-x-full opacity-0 lg:hidden mt-[48px] md:mt-[0px]"
    },
    {
      "type": "textarea",
      "id": "mobile_menu_content_classes",
      "label": "Mobile menu content classes",
      "default": "h-[calc(100vh-48px)] md:h-[calc(100vh-56px)] lg:h-[calc(100vh-83px)] overflow-y-auto"
    },
    {
      "type": "textarea",
      "id": "mobile_menu_item_classes",
      "label": "Mobile menu item classes",
      "default": "block py-4 text-gray-600 hover:text-gray-900 border-b-[1px] border-brand-black pl-4 text-mobile-heading-6"
    }
  ],
  "presets": [
    {
      "name": "Navbar"
    }
  ]
}
{% endschema %}

