<div class="navbar-wrapper {{ section.settings.navbar_wrapper }}">
  <nav class="navbar {{ section.settings.navbar_classes }}">
    <div class="navbar__container {{ section.settings.container_classes }}">
        <!-- Mobile and Laptop menu button -->
        <div class="menu_button_container_classes {{ section.settings.menu_button_container_classes }}">
          <button id="menu-button" class="{{ section.settings.menu_button_svg_classes }}">
            <span id="hamburger-icon">{% render 'icon-hamburger' %}</span>
          </button>
        </div>

        <!-- Cart button -->
        <div class="cart_button_classes {{ section.settings.cart_button_classes }}">
          <button id="cart-button" class="{{ section.settings.cart_button_svg_classes }}">
            {% render 'icon-cart' %}
          </button>
        </div>

        <!-- Desktop menu -->
        <div class="navbar__menu_desktop {{ section.settings.navbar__menu_desktop }}">
        <div class="navbar__menu-left {{ section.settings.navbar__menu_left }}">
            {% for link in linklists[section.settings.menu].links %}
            <a href="{{ link.url }}" class="navbar__menu-item {{ section.settings.left_menu_item_classes }}">
                {{ link.title }}
            </a>
            {% endfor %}
        </div>
        <div class="navbar__menu-right {{ section.settings.navbar__menu_right }}">
            {% for link in linklists[section.settings.right_menu].links %}
            <a href="{{ link.url }}" class="navbar__menu-item {{ section.settings.right_menu_item_classes }}">
                {{ link.title }}
            </a>
            {% endfor %}
        </div>
      </div>
    </div>
  </nav>

  <!-- Off-canvas menu -->
  <div id="off-canvas-menu" class="off_canvas_menu_container_classes {{ section.settings.off_canvas_menu_container_classes }}">
    <div class="off_canvas_menu_header_classes {{ section.settings.off_canvas_menu_header_classes }}">
      <button id="close-menu-button" class="{{ section.settings.close_menu_button_classes }}">
        {% render 'icon-close' %}
      </button>
    </div>
    <div class="off_canvas_menu_content_classes {{ section.settings.off_canvas_menu_content_classes }}">
      {% for link in linklists[section.settings.menu].links %}
        <a href="{{ link.url }}" class="{{ section.settings.off_canvas_menu_item_classes }}">
          {{ link.title }}
        </a>
      {% endfor %}
      {% for link in linklists[section.settings.right_menu].links %}
        <a href="{{ link.url }}" class="{{ section.settings.off_canvas_menu_item_classes }}">
          {{ link.title }}
        </a>
      {% endfor %}
    </div>
  </div>


  <!-- Overlay -->
  <div id="menu-overlay" class="menu_overlay_classes {{ section.settings.menu_overlay_classes }}"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var menuButton = document.getElementById('menu-button');
    var closeMenuButton = document.getElementById('close-menu-button');
    var offCanvasMenu = document.getElementById('off-canvas-menu');
    var menuOverlay = document.getElementById('menu-overlay');
    var hamburgerIcon = document.getElementById('hamburger-icon');
    var body = document.body;

    function toggleMenu() {
      offCanvasMenu.classList.toggle('translate-x-0');
      menuOverlay.classList.toggle('opacity-0');
      menuOverlay.classList.toggle('pointer-events-none');
      body.classList.toggle('overflow-hidden');
    }

    menuButton.addEventListener('click', toggleMenu);
    closeMenuButton.addEventListener('click', toggleMenu);
    menuOverlay.addEventListener('click', toggleMenu);

    if (Shopify.designMode) {
      document.addEventListener('shopify:section:load', function(event) {
        if (event.target.contains(menuButton)) {
          menuButton.addEventListener('click', toggleMenu);
        }
      });
    }
  });
</script>

{% schema %}
{
  "name": "Navbar",
  "settings": [
    {
      "type": "header",
      "content": "Menu Selection"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Left Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "right_menu",
      "label": "Right Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Tailwind Classes"
    },
    {
      "type": "textarea",
      "id": "navbar_wrapper",
      "label": "Navbar Wrapper",
      "default": "relative"
    },
    {
      "type": "textarea",
      "id": "navbar_classes",
      "label": "Navbar classes",
      "default": "h-[48px] md:h-[56px] lg:[83px] w-full z-10 bg-white"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes",
      "default": "border-y-[1px] lg:border-x-[1px] border-brand-black flex justify-between h-full"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_desktop",
      "label": "Navbar Desktop Menu",
      "default": "hidden lg:flex w-full justify-between"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_left",
      "label": "Left menu classes",
      "default": "hidden lg:flex h-full w-1/2 justify-start pl-[1px]"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_right",
      "label": "Right menu classes",
      "default": "hidden lg:flex h-full w-1/2 justify-end pr-[1px]"
    },
    {
      "type": "textarea",
      "id": "left_menu_item_classes",
      "label": "Left menu item classes",
      "default": "text-gray-600 hover:text-gray-900 border-brand-black border-r-[1px] flex items-center justify-center w-1/4"
    },
    {
      "type": "textarea",
      "id": "right_menu_item_classes",
      "label": "Right menu item classes",
      "default": "text-gray-600 hover:text-gray-900 border-brand-black border-l-[1px] flex items-center justify-center w-1/4"
    },
    {
      "type": "header",
      "content": "Mobile & Laptop Tailwind Classes"
    },
    {
      "type": "textarea",
      "id": "menu_button_container_classes",
      "label": "Menu button container classes",
      "default": "flex items-center justify-center aspect-square border-brand-black border-x lg:hidden"
    },
    {
      "type": "textarea",
      "id": "menu_button_svg_classes",
      "label": "Menu button SVG classes",
      "default": "w-5 h-5"
    },
    {
      "type": "textarea",
      "id": "cart_button_classes",
      "label": "Cart button classes",
      "default": "flex items-center justify-center aspect-square border-brand-black border-x lg:hidden"
    },
    {
      "type": "textarea",
      "id": "cart_button_svg_classes",
      "label": "Cart button SVG classes",
      "default": "w-5 h-5"
    },
    {
      "type": "textarea",
      "id": "off_canvas_menu_container_classes",
      "label": "Off-canvas menu container classes",
      "default": "fixed inset-y-0 left-0 w-full md:w-1/2 bg-white z-50 transition-transform duration-300 ease-in-out transform -translate-x-full lg:hidden"
    },
    {
      "type": "textarea",
      "id": "off_canvas_menu_header_classes",
      "label": "Off-canvas menu header classes",
      "default": "h-[48px] md:h-[56px] border-b border-brand-black flex items-center justify-end"
    },
    {
      "type": "textarea",
      "id": "off_canvas_menu_content_classes",
      "label": "Off-canvas menu content classes",
      "default": "h-full"
    },
    {
      "type": "textarea",
      "id": "close_menu_button_classes",
      "label": "Close menu button classes",
      "default": "w-[48px] md:w-[56px] h-full flex items-center justify-center"
    },
    {
      "type": "textarea",
      "id": "off_canvas_menu_item_classes",
      "label": "Off-canvas menu item classes",
      "default": "block p-6 text-slate-800 hover:text-slate-900 border-b border-brand-black text-mobile-heading-5 md:text-desktop-heading-5"
    },
    {
      "type": "textarea",
      "id": "menu_overlay_classes",
      "label": "Menu overlay classes",
      "default": "fixed inset-0 bg-black bg-opacity-50 z-40 transition-opacity duration-300 ease-in-out opacity-0 pointer-events-none lg:hidden"
    }
  ],
  "presets": [
    {
      "name": "Navbar"
    }
  ]
}
{% endschema %}

