<nav class="navbar {{ section.settings.navbar_classes }}">
  <div class="navbar__container {{ section.settings.container_classes }}">
    <!-- Mobile menu button -->
    <div class="md:hidden mobile_menu_button_container_classes {{ section.settings.mobile_menu_button_container_classes }}">
        <div class="md:hidden flex items-center {{ section.settings.mobile_menu_button_classes }}">
            <button id="mobile-menu-button" class="{{ section.settings.mobile_menu_svg_classes }}">
                {% render 'icon-hamburger' %}
            </button>
        </div>

        <div class="md:hidden flex items-center {{ section.settings.mobile_menu_button_classes }}">
            <button id="cart-button" class="{{ section.settings.mobile_menu_svg_classes }}">
                {% render 'icon-cart' %}
            </button>
        </div>
    </div>


    

    <!-- Desktop menu -->
    <div class="hidden md:flex w-full justify-between">
      <div class="navbar__menu-left {{ section.settings.navbar__menu_left }}">
        {% for link in linklists[section.settings.menu].links %}
          <a href="{{ link.url }}" class="navbar__menu-item {{ section.settings.left_menu_item_classes }}">
            {{ link.title }}
          </a>
        {% endfor %}
      </div>
      <div class="navbar__menu-right {{ section.settings.navbar__menu_right }}">
        {% for link in linklists[section.settings.right_menu].links %}
          <a href="{{ link.url }}" class="navbar__menu-item {{ section.settings.right_menu_item_classes }}">
            {{ link.title }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Mobile menu (hidden by default) -->
  <div id="mobile-menu" class="hidden md:hidden {{ section.settings.mobile_menu_container_classes }}">
    {% for link in linklists[section.settings.menu].links %}
      <a href="{{ link.url }}" class="{{ section.settings.mobile_menu_item_classes }}">
        {{ link.title }}
      </a>
    {% endfor %}
    {% for link in linklists[section.settings.right_menu].links %}
      <a href="{{ link.url }}" class="{{ section.settings.mobile_menu_item_classes }}">
        {{ link.title }}
      </a>
    {% endfor %}
  </div>
</nav>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var mobileMenuButton = document.getElementById('mobile-menu-button');
    var mobileMenu = document.getElementById('mobile-menu');

    if (mobileMenuButton && mobileMenu) {
      var toggleMenu = function() {
        mobileMenu.classList.toggle('hidden');
      };

      if (Shopify.designMode) {
        // In design mode, re-add the event listener whenever the section is reloaded
        document.addEventListener('shopify:section:load', function(event) {
          if (event.target.contains(mobileMenuButton)) {
            mobileMenuButton.addEventListener('click', toggleMenu);
          }
        });
      }

      // Always add the event listener initially
      mobileMenuButton.addEventListener('click', toggleMenu);
    }
  });

</script>

{% schema %}
{
  "name": "Navbar",
  "settings": [
    {
      "type": "header",
      "content": "Menu Selection"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Left Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "right_menu",
      "label": "Right Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Tailwind Classes"
    },
    {
      "type": "textarea",
      "id": "navbar_classes",
      "label": "Navbar classes",
      "default": "h-[48px] md:h-[83px] fixed w-full z-10 bg-white"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes",
      "default": "border-y-[1px] md:border-[1px] border-brand-black flex justify-between h-full"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_left",
      "label": "Left menu classes",
      "default": "hidden md:flex h-full w-1/2 pl-[1px]"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_right",
      "label": "Right menu classes",
      "default": "hidden md:flex h-full w-1/2 justify-end pr-[1px]"
    },
    {
      "type": "textarea",
      "id": "left_menu_item_classes",
      "label": "Left menu item classes",
      "default": "text-gray-600 hover:text-gray-900 border-brand-black border-r-[1px] flex items-center justify-center w-1/4"
    },
    {
      "type": "textarea",
      "id": "right_menu_item_classes",
      "label": "Right menu item classes",
      "default": "text-gray-600 hover:text-gray-900 border-brand-black border-l-[1px] flex items-center justify-center w-1/4"
    },
    {
      "type": "header",
      "content": "Mobile Tailwind Classes"
    },
    {
      "type": "textarea",
      "id": "mobile_menu_button_container_classes",
      "label": "Mobile menu button container classes",
      "default": "flex w-full justify-between"
    },
    {
      "type": "textarea",
      "id": "mobile_menu_button_classes",
      "label": "Mobile menu button classes",
      "default": "border-x-[1px] border-brand-black w-1/6 flex justify-center"
    },
    {
      "type": "textarea",
      "id": "mobile_menu_svg_classes",
      "label": "Mobile menu SVG classes",
      "default": "w-5 h-5 "
    },
    {
      "type": "textarea",
      "id": "mobile_menu_container_classes",
      "label": "Mobile menu container classes",
      "default": "pt-2 bg-white"
    },
    {
      "type": "textarea",
      "id": "mobile_menu_item_classes",
      "label": "Mobile menu item classes",
      "default": "block py-4 text-gray-600 hover:text-gray-900 border-b-[1px] border-brand-black pl-4 text-mobile-heading-6"
    }
  ],
  "presets": [
    {
      "name": "Navbar"
    }
  ]
}
{% endschema %}

