{{ 'slideshow.css' | asset_url | stylesheet_tag }}

<div id="sliderContainer" class="slider-container">
  {% for block in section.blocks %}
    <div class="hero-slide" style="background-image:url({{ block.settings.slide_bg | img_url: 'original' }});">
      <div class="page-width hero-slide-content">
        <h2>{{ block.settings.main_title }}</h2>
        <p>{{ block.settings.sub_title }}</p>
        <button
          class="btn"
          href="{{ block.settings.slide_url}}"
        >
          {{- block.settings.slide_url_text -}}
        </a>
      </div>
    </div>
  {% endfor %}

  <div id="sliderControls" class="slider-controls">
    <span id="slideCurrent"></span> / <span id="slideTotal"></span>
    <span id="prev" class="slider-button prev">
      {% render 'icon-left-arrow' %}
    </span>
    <span id="next" class="slider-button next">
      {% render 'icon-right-arrow' %}
    </span>
  </div>
</div>

{%- if request.design_mode -%}
  <script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('shopify:section:load', function (event) {
      if (event.detail.sectionId === '{{ section.id }}') {
      }
    });
  });
</script>

{% schema %}
{
  "name": "Slideshow",
  "blocks": [
    {
      "type": "select",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_bg",
          "label": "Slide Background"
        },
        {
          "type": "text",
          "id": "main_title",
          "label": "Slide Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Slide Subtitle",
          "default": "Subtitle"
        },
        {
          "type": "url",
          "id": "slide_url",
          "label": "Slide URL"
        },
        {
          "type": "text",
          "id": "slide_url_text",
          "label": "Slide Button Text",
          "default": "Shop"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Slider",
      "blocks": [
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}
